.container {
    background-color: black;
    width:80%;
    margin:0 auto 0 auto;
    display: flex;
    justify-content: row;
    align-content: flex-start;
    flex-wrap: wrap;

    
}

.box {
    background-color:green;
    
    border: 1px solid blue;
    margin:0 0 0 0;
    vertical-align: baseline;
    
    
}

#box1, #box12, #box17, #box21, #box26, #box30, #box31, #box34, #box44 {
    width: 12.5%;
    height: 0;
    padding-top: 8.33%;
}

#box2, #box7, #box37, #box43 {
    width: 20.83%;
    height: 0;
    padding-top: 8.33%;
}

#box3, #box20, #box27 {
    width: 16.67%;
    height: 0;
    padding-top: 8.33%;
}

#box4, #box10, #box11, #box40 {
    width: 16.67%;
    height: 0;
    padding-top: 16.67%;
}

#box5, #box6 {
    width: 6.25%;
    height: 0;
    padding-top: 8.33%;
}

#box8, #box18, #box19, #box28, #box29, #box33 {
    width: 8.33%;
    height: 0;
    padding-top: 16.67%;
}

#box9, #box32 {
    width: 25%;
    height: 0;
    padding-top: 33.33%;
}

#box13, #box16, #box22, #box25 {
    width: 12.5%;
    height: 0;
    padding-top: 16.67%;
}

#box14, #box15, #box23, #box24 {
    width: 8.33%;
    height: 0;
    padding-top: 25%;
}

#box35, #box36 {
    width:12.5%;
    height: 0;
    padding-top: 22.22%;
}

#box38, #box39 {
    width: 6.25%;
    height: 0;
    padding-top: 16.67%;
}

#box41, #box42 {
    width:8.33%;
    height: 0;
    padding-top: 8.33%;
}
